.info-bottom {
  margin-top: 10px;
  text-align: center;
}

.btn-login {
  display: block;
  min-width: 10px;
  margin: auto;
  padding: 12px 50px;
}

.btn-login {
  animation: move 400ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}
