aside {
  animation: move-top-to-bottom 400ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

aside strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: #333;
}

aside form {
  margin-top: 30px;
}

input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  margin-right: 170px;
}

form .input-block:nth-child(1) {
  animation: move-left-to-right 400ms;
  animation-delay: 800ms;
  animation-fill-mode: backwards;
}

form .input-block:nth-child(2) {
  animation: move-left-to-right 400ms;
  animation-delay: 900ms;
  animation-fill-mode: backwards;
}

form .input-block:nth-child(3) {
  animation: move-left-to-right 400ms;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

main {
  animation: move-top-to-bottom 400ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

.buttons-actions {
  display: flex;
  flex-direction: row;
}

.maps {
  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
}

.menu-option {
  text-decoration: none;
}

@keyframes move-left-to-right {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes move-top-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-35%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
